nav ul {
  font-size: 0.75em;
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 0.3px;
  margin-left: 25%;
  margin-right: 25%;
}

h1 {
  text-align: center;
}

body {
  font-family: serif;
  font-size: 2em;
}

.description {
  text-align: center;
}

.adresse {
  text-align: center;
}
